/*
 *
 *
 *
 */

.control {
    width: 120px;
    float: left;
}
.control_small {
    padding-left: 20px;
}
#tick {
    width: 100px;
    height: 100px;
}
.blink {
    background-color: red;
}
.hidden {
    position: absolute;
    top: -100px;
}
.clear {
    clear: both;
}
