/*
 *
 *
 *
 */

body {
    font-family: 'Exo', sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: #333;
}
h1 {
    font-family: 'Monofett', cursive;
    font-size: 50px;
    line-height: 40px;
    color: #eee;
}
h4 {

}
section {
    width: 400px;
    margin: auto;
}
.control {
    width: 120px;
    float: left;
}
.control_small {
    padding-left: 20px;
}
#tick {
    width: 100px;
    height: 100px;
}
.blink {
    background-color: red;
}
.hidden {
    position: absolute;
    top: -100px;
}
.clear {
    clear: both;
}
